.Rproj.user
.Rhistory
.RData
.Ruserdata
R/test_eikonobject.r
*.log
*.pyc
problem.Rdata
.httr-oauth
Refinitiv.Rproj
docs
/lib
coverage_detailed.csv
coverage_missing.csv
coverage_report.html
coverage_summary.txt
COMMIT_MESSAGE.txt
COMMIT_MESSAGE.txt
COMMIT_MESSAGE.txt
